.nav-container {
	display: flex;
	justify-content: space-between;
}
.nav-container .nav-title{
	font-size: 1.5rem;
}
.me-auto{
	margin: 0 !important;
}

@media all and (max-width: 800px){

	.nav-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}

	.nav-container .navbar-nav{
		display: flex;
		justify-content: center;
		width: 100%;
	}

}