

.title{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 70px;
    padding-top: 10px;
}
.divTitle{
    background-color: black;
    opacity: 70%;
    margin-top: 10px;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h5{
    color:white;
}